[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
urllib3 = {editable = true,version = "*"}
certifi = {editable = true,version = "*"}
sqlalchemy = {editable = true,version = "*"}
psycopg2 = {editable = true,version = "*"}
setuptools = "*"
install = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
